<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>اَلاسْمَاءُ الْحُسناى</title>
    <link rel="stylesheet" type="text/css" href="page.css" />
    <link rel="stylesheet" type="text/css" href="example.css" />
    <!-- <style>

        /* Style for our header texts
        * --------------------------------------- */
        h1{
            font-size: 5em;
            font-family: arial,helvetica;
            color: #fff;
            margin:0;
            padding:0;
        }
    
        /* Centered texts in each section
        * --------------------------------------- */
        .section{
            text-align:center;
        }
    
    
        /* Backgrounds will cover all the section
        * --------------------------------------- */
        #section0,
        #section1,
        #section2,
        #section3{
            background-size: cover;
            background-attachment: fixed;
        }
    
        /* Defining each sectino background and styles
        * --------------------------------------- */
        #section0{
            background-image: url(pic1.jpg);
        }
        #section1{
            background-image: url(pic4.jpg);
        }
        #section0 h1{
            top: 50%;
            transform: translateY(-50%);
            position: relative;
        }
        #section2{
            background-image: url(pic2.jpg);
            padding: 6% 0 0 0;
        }
        #section3{
            background-image: url(pic3.jpg);
            padding: 6% 0 0 0;
        }
        #section3 h1{
            color: #000;
        }
        #section4{
            background-image: url(pic5.jpg);
            padding: 6% 0 0 0;
        }
        #section5{
            background-image: url(pic6.jpg);
            padding: 6% 0 0 0;
        }
        #section6{
            background-image: url(pic7.jpg);
            padding: 6% 0 0 0;
        }
        #section7{
            background-image: url(pic8.jpg);
            padding: 6% 0 0 0;
        }
        #section8{
            background-image: url(pic9.jpg);
            padding: 6% 0 0 0;
        }
        #section9{
            background-image: url(pic10.jpg);
            padding: 6% 0 0 0;
        }
        </style> -->
</head>
<body>
    
        <div id="fullpage">
                <div class="section active" id="section0"><h1>بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ</h1></div>
                <div class="section" id="section1"><h1>الرّحمـٰن</h1></div>
                <div class="section" id="section2"><h1>الرّحيم</h1></div>
                <div class="section" id="section3"><h1>المـٰلك</h1></div>

                <div class="section" id="section4"><h1>القدّوس</h1></div>
                <div class="section" id="section5"><h1>السّلام</h1></div>
                <div class="section" id="section6"><h1>المؤمن</h1></div>

                <div class="section" id="section7"><h1>المهيمن</h1></div>
                <div class="section" id="section8"><h1>العزيز</h1></div>
                <div class="section" id="section9"><h1>الجبّار</h1></div>

                <div class="section" id="section10"><h1>المتكبّر</h1></div>
                <div class="section" id="section11"><h1>الخـٰلق</h1></div>
                <div class="section" id="section12"><h1>البارئ</h1></div>

                <div class="section" id="section13"><h1>المصوّر</h1></div>
                <div class="section" id="section14"><h1>الغفّار</h1></div>
                <div class="section" id="section15"><h1>القهّار</h1></div>

                <div class="section" id="section16"><h1>الوهّاب</h1></div>
                <div class="section" id="section17"><h1>الرّزّاق</h1></div>
                <div class="section" id="section18"><h1>الفتّاح</h1></div>

                <div class="section" id="section19"><h1>العليم</h1></div>
                <div class="section" id="section20"><h1>القابض</h1></div>
                <div class="section" id="section21"><h1>الباسط</h1></div>

                <div class="section" id="section22"><h1>الخافض</h1></div>
                <div class="section" id="section23"><h1>الرّافع</h1></div>
                <div class="section" id="section24"><h1>المعزّ</h1></div>

                <div class="section" id="section25"><h1>المذلّ</h1></div>
                <div class="section" id="section26"><h1>السّميع</h1></div>
                <div class="section" id="section27"><h1>البصير</h1></div>

                <div class="section" id="section28"><h1>الحكم</h1></div>
                <div class="section" id="section29"><h1>العدل</h1></div>
                <div class="section" id="section30"><h1>اللّطيف</h1></div>

                <div class="section" id="section31"><h1>الخبير</h1></div>
                <div class="section" id="section32"><h1>الحليم</h1></div>
                <div class="section" id="section33"><h1>العظيم</h1></div>

                <div class="section" id="section34"><h1>الغفور</h1></div>
                <div class="section" id="section35"><h1>الشّكور</h1></div>
                <div class="section" id="section36"><h1> العلىّ</h1></div>

                <div class="section" id="section37"><h1>الكبير</h1></div>
                <div class="section" id="section38"><h1>الحفيظ</h1></div>
                <div class="section" id="section39"><h1>المقيت</h1></div>

                <div class="section" id="section40"><h1>الحسيب</h1></div>
                <div class="section" id="section41"><h1>الجليل</h1></div>
                <div class="section" id="section42"><h1>الكريم</h1></div>

                <div class="section" id="section43"><h1> الرّقيب</h1></div>
                <div class="section" id="section44"><h1>المجيب</h1></div>
                <div class="section" id="section45"><h1>الوٰسع</h1></div>

                <div class="section" id="section46"><h1>الحكيم</h1></div>
                <div class="section" id="section47"><h1>الودود</h1></div>
                <div class="section" id="section48"><h1>المجيد</h1></div>

                <div class="section" id="section49"><h1>الباعث</h1></div>
                <div class="section" id="section50"><h1>الشّهيد</h1></div>
                <div class="section" id="section51"><h1>الحقّ</h1></div>

                <div class="section" id="section52"><h1>الوكيل</h1></div>
                <div class="section" id="section53"><h1>القويّ</h1></div>
                <div class="section" id="section54"><h1>المتين</h1></div>

                <div class="section" id="section55"><h1>الوليّ</h1></div>
                <div class="section" id="section56"><h1>الحميد</h1></div>
                <div class="section" id="section57"><h1>المحصي</h1></div>

                <div class="section" id="section58"><h1>المبدئ</h1></div>
                <div class="section" id="section59"><h1>المعيد</h1></div>
                <div class="section" id="section60"><h1>المحيى</h1></div>

                <div class="section" id="section61"><h1>المميت</h1></div>
                <div class="section" id="section62"><h1>الحىّ</h1></div>
                <div class="section" id="section63"><h1>القيّوم</h1></div>

                <div class="section" id="section64"><h1>الوٰجد</h1></div>
                <div class="section" id="section65"><h1>الماجد</h1></div>
                <div class="section" id="section66"><h1>الوٰحد</h1></div>

                <div class="section" id="section67"><h1>الأحد</h1></div>
                <div class="section" id="section68"><h1>الصّمد</h1></div>
                <div class="section" id="section69"><h1>القـٰدر</h1></div>

                <div class="section" id="section70"><h1>المقتدر</h1></div>
                <div class="section" id="section71"><h1>المقدّم</h1></div>
                <div class="section" id="section72"><h1>المؤخّر</h1></div>

                <div class="section" id="section73"><h1>الأوّل</h1></div>
                <div class="section" id="section74"><h1>الأخر</h1></div>
                <div class="section" id="section75"><h1>الظـٰهر</h1></div>

                <div class="section" id="section76"><h1>الباطن</h1></div>
                <div class="section" id="section77"><h1>الوالي</h1></div>
                <div class="section" id="section78"><h1>المتعالي</h1></div>

                <div class="section" id="section79"><h1>البرّ</h1></div>
                <div class="section" id="section80"><h1>التّوّاب</h1></div>
                <div class="section" id="section81"><h1>المنتقم</h1></div>

                <div class="section" id="section82"><h1>العفوّ</h1></div>
                <div class="section" id="section83"><h1>الرّءوف</h1></div>
                <div class="section" id="section84"><h1>مـٰلك الملك</h1></div>

                <div class="section" id="section85"><h1>ذو الجلال ولإكرام</h1></div>
                <div class="section" id="section86"><h1>المقسط</h1></div>
                <div class="section" id="section87"><h1>الجامع</h1></div>

                <div class="section" id="section88"><h1>الغنيّ</h1></div>
                <div class="section" id="section89"><h1>المغنيّ</h1></div>
                <div class="section" id="section90"><h1>المانع</h1></div>

                <div class="section" id="section91"><h1>الضّار</h1></div>
                <div class="section" id="section92"><h1>النّافع</h1></div>
                <div class="section" id="section93"><h1>النّور</h1></div>

                <div class="section" id="section94"><h1>الهادي</h1></div>
                <div class="section" id="section95"><h1>البديع</h1></div>
                <div class="section" id="section96"><h1>الباقي</h1></div>

                <div class="section" id="section97"><h1>الوٰرث</h1></div>
                <div class="section" id="section98"><h1>الرّشيد</h1></div>
                <div class="section" id="section99"><h1>الصّبور</h1></div>

            </div>
            
            
            
            <script type="text/javascript" src="page.js"></script>
            <script type="text/javascript">
                var myFullpage = new fullpage('#fullpage', {
                    sectionsColor: [ '#f2f2f2',
                '#f2f2f2', '#4BBFC3', '#7BAABE', '#556270', '#ccddff',
                '#ffd89b', '#e73827','#004e92', '#734b6d', '#FD746C', 
                '#4CA1AF', '#FFC371', '#CB3066','#16BFFD','#EF629F',
                '#EECDA3','#2980b9','#2a5298','#ff9068','#a044ff',
                '#5691c8','#F15F79','#8DC26F','#512DA8','#363795',
                '#e35d5b','#00dbde','#6441A5', '#3a7bd5', '#BFE6BA',
                '#B0DAB9', '#ff9472', '#f2709c', '#274046', '#E6DADA',
                '#5D4157', '#A8CABA', '#ddd6f3', '#ddd6f3',  '#faaca8',
                '#616161', '#9bc5c3', '#50C9C3', '#96DEDA', '#EFEFBB',
                '#999966', '#DE6262', '#FFB88C', '#e9d362', '#d53369',
                '#cbad6d', '#a73737', '#f857a6', '#ff5858', '#4b6cb7' ,
                '#FC354C', '#0ABFBC', '#e43a15', '#e65245', '#C04848',
                '#5f2c82', '#49a09d', '#EC6F66', '#F3A183', '#7474BF',
                '#348AC7', '#ECE9E6', '#FFFFFF', '#ED4264', '#FFEDBC',
                '#DC2424', '#24C6DC', '#514A9D', '#FFE47A', '#1CD8D2',
                '#93EDC7', '#5C258D', '#4389A2', '#2BC0E4', '#EAECC6',
                '#4776E6', '#8E54E9', '#614385', '#516395', '#FF8008',
                '#FFC837', '#1D976C', '#93F9B9', '#EB3349', '#F45C43',
                '#DD5E89', '#F7BB97', '#4CB8C4', '#3CD3AD', '#A6FFCB',
                '#1FA2FF', '#26D0CE', '#AA076B', '#DD2476'  
                ]
                });
            </script>
</body>
</html>